.root{
	li{
		color: green;
		background: gray;
		display: inline-block;
		padding: 14px;
		border-radius: 10px;
		border: 1px solid red;
		margin-right: 10px;
		cursor: pointer;

		&:hover{
			background-color: yellow;
		}
	}

	:global {
		.selected {
			a{
				background: green;
				color: white;
			}

		}
	}
	
}